@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-background-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}